*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent
a 
  text-decoration: none
body 
  font-family: 'Circe Regular', sans-serif
img 
  display: block
ul, li, p, h1, h2, h3, button
  margin: 0
  padding: 0 
form, input, button
  border: none
  outline: none
button
  cursor: pointer          
.container
  width: 100%
  max-width: 1328px
  margin: 0 auto

    

  
           
      