html(lang='ru')

include includes/head.pug

body

  include includes/header.pug

  main.method
    .container
      h1 Что такое «коммуникативная методика» и её преимущества
      .method-about
        p Если Вы занимаетесь поисками подходящего преподавателя иностранного языка в подходящей для Вас школе, то Вы наверняка встречали словосочетание «коммуникативная методика» на сайтах учебных заведений уже не один раз. Это модное словосочетание работает в качестве хорошей рекламы. А так ли хороша сама методика?
        p Отвечаем – ДА! В школе LingvaFlavor мы тоже следуем исключительно ей.
        .method-about-list-title Основные принципы коммуникативной методики при обучении иностранным языкам:
        .method-about-list
          .method-about-list-item
            .method-about-list-item-img
              img(src="images/method/1.jpg", alt="alt")
            .method-about-list-item-content  
              .method-about-list-item-title Разговор с первого урока и никакого языкового барьера.
              .method-about-list-item-text Вы начинаете разговаривать с первого урока, даже если Вы на начальном этапе обучения. Обучение по-максимуму ведется на изучаемом языке — это позволяет быстро привыкнуть к звучанию речи, предупреждает появление или избавляет от языкового барьера. Все, что Вам дают на уроке, нацелено на максимальное применение на практике – больше разговора и меньше механического зазубривания! 70% времени урока говорите Вы, 30% — преподаватель.
          .method-about-list-item
            .method-about-list-item-content
              .method-about-list-item-title Грамотная и беглая речь одновременно.
              .method-about-list-item-text В школе нас «давили» грамматическими правилами, переводами текстов, заучиванием наизусть огромных непонятных диалогов и текстов (топиков) про Букингемский дворец или Эйфилеву башню… При этом, попробуйте вспомнить, как и о чем вы РАЗГОВАРИВАЛИ на уроках английского или французского. Не было разговора! Не было свободной беседы! Было повторение фраз вслух при отработке очередной грамматической конструкции или воспроизведение заранее зазубренных диалогов, и чаще всего мы плохо себе представляли, о чем были те диалоги или тексты… При коммуникативной методике Вы сможете говорить грамотно и бегло – грамматические конструкции будут плавно вплетаться в речь и позволят Вам не «тормозить» при разговоре, а четко выражать свою мысль. Ваш преподаватель будет не только учить Вас разговаривать на разные темы, но и следить за правильностью Вашей речи.
            .method-about-list-item-img
              img(src="images/method/2.jpg", alt="alt")
          .method-about-list-item
            .method-about-list-item-img
              img(src="images/method/3.jpg", alt="alt")
            .method-about-list-item-content
              .method-about-list-item-title Спонтанность речи, а не перевод с русского
              .method-about-list-item-text Задача коммуникативной методики – научить спонтанной речи на любые темы, и перестать переводить мысли с русского на иностранный язык. На занятиях используется в основном только изучаемый язык, переход на русский язык преподавателем возможен только с начинающими или в целях экономии времени при объяснении значения слова или словосочетания. Коммуникативный подход, в общем и целом, предполагает изучение слов в контексте, без перевода на русский язык. И задача преподавателя не только научить Вас понимать, ЧТО означает слово, но и КАК его употреблять.
          .method-about-list-item            
            .method-about-list-item-content
              .method-about-list-item-title Погружение в языковую среду уже на уроке.
              .method-about-list-item-text Занятия по коммуникативной методике строятся принципиально иначе, чем школьные или университетские – сама атмосфера урока способствует погружению в «языковую среду». Вас будут всячески поощрять на свободное общение без боязни совершить ошибку – сначала Вы научитесь быстро и грамотно выражать свои мысли на изучаемом языке, а потом и думать на нем.
            .method-about-list-item-img
              img(src="images/method/4.jpg", alt="alt")




  include includes/footer.pug