.main-slider
  position: relative
  .swiper-pagination
    display: none   
  &__slide
    display: flex
    align-items: center
    text-align: center
    +bold 
    font-size: 40px
    color: $white
    text-transform: uppercase
    &_first
      background: $pink
    &_second
      background: #33BD4F
    &_third
      background: blue
    &_thourth
      background: $red
  &-buttons
    display: flex
    position: absolute
    bottom: 47px
    left: 50%
    transform: translateX(-50%)
    z-index: 2    
  &-prev, &-next
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    background: rgba($white, 0.3)
    outline: none
    cursor: pointer
    svg
      path
        transition: 0.3s

.swiper-container-main
  height: 600px
@media screen and ( max-width: 768px )
  .main-slider
    .swiper-pagination
      display: block
      width: 100%
      top: 480px
      &-bullet
        background: $white
        opacity: 0.3
        margin: 0 4px
        &-active
          opacity: 1 
  .swiper-container-main
    height: 500px
  .main-slider-buttons
    display: none  
@media screen and ( max-width: 576px )
  .main-slider
    .swiper-pagination
      top: 380px
  .swiper-container-main
    height: 400px
                    